.contact-top {
    display:flex;
    flex-direction:row;
    align-items:center;
}
.contact-top h2 {
    font-size:2rem;
    margin-top:5rem;
}
.contact-top div {
    display: block;
    width:2.5rem;
    height:1px;
    background-color:black;
}
.contact-content-top ol {
    display: flex;
    justify-content: center;
    line-height:1.75;
    text-align:center;
}
.contact-content-top ol img {
    width: 1.9rem;
    height:auto;
    margin-right: 1rem;
}
.contact-content-top ol li {
    font-size:1.1rem;
}
.contact-content-top-bottom img:last-of-type {
    width:1.3rem;
}
.contact-content-top-center {
    width:5rem;
    background-color:black;
    height:1px;
    margin: 0 auto;
}
.contact-content-center-map iframe {
    display: none;
}