.contact-top {
    position: fixed;
    bottom: 0;
    display:flex;
    align-items:center;
    justify-content: space-between;
    width:100%;
}
.contact-top h2 {
    font-size:1.5rem;
    margin-right: .5rem;
}
.contact-top div {
    display:block;
    height:1px;
    width:50%;
    background-color:black;
}
@media (max-width:380px) {
    .contact-top h2 {
        font-size:1.4rem;
    }
    .contact-top div {
        width:45%;
    } 
}
@media (max-width:320px) {
    .contact-top h2 {
        font-size:1.4rem;
    }
    .contact-top div {
        width:40%;
    }  
}
.contact-content-top {
    padding: 2rem 0rem;
}
.contact-content-top ol {
    display: flex;
    justify-content: center;
    line-height:2;
}
.contact-content-top ol img {
    width: 1.9rem;
    height:auto;
    margin-right: 1rem;
}
.contact-content-top ol li {
    font-size:1.1rem;
}
.contact-content-top-top {
    margin-bottom: 1.75rem;
}
.contact-content-top-bottom {
    margin-top:1.75rem;
}
.contact-content-top-bottom ol{
    text-align:center;
}
.contact-content-top-bottom img:last-of-type {
    width:1.3rem;
}
.contact-content-top-center {
    width:7rem;
    background-color:black;
    height:1px;
    margin: 0 auto;
}
.contact-content-bottom img{
    height:auto;
    width:100%;  
    margin: 0 auto;
}
.contact-content-top-bottom p:first-of-type {
    margin-left: 0rem;
}
.contact-content-top-bottom p {
    margin-left: -1rem;
}
@media (min-width: 768px) {
   
    .contact-top  {
        position: relative;
        padding: 4% 6%;
        justify-content:flex-end;
    }

    .contact-top h2 {
        font-size:2rem;
    }

    .contact-top div {
        width:25%;
        margin-right: 7.5%;
    }

    .contact-content {
        display:flex;
        justify-content:space-between;
        padding:0% 6%;
    }

    .contact-content-bottom {
        order:1;
        align-self: flex-start;
        margin: 0;
    }

    .contact-content-bottom img {
        width:90%;
    }

    .contact-content-top {
        order:2;
        align-self:center;
    }

    .contact-content-top ol {
        width:20rem;
        margin: 0;
    }
    .contact-content-top ol {
        justify-content: flex-start;
    }

    .contact-content-top-bottom ol{
        text-align:start;
    }

    .contact-content-map iframe {
        display:none;
    }  

    .contact-content-top-bottom p:first-of-type {
        margin-left:0rem;
    }   

    .contact-content-top-bottom p {
        margin-left:0rem;
    }

    .contact-content-top-bottom p:nth-child(2) {
        padding: .25rem 0rem;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: 5.3rem;
    }

}

@media (min-width: 1024px) {

    .contact-content-top {
        align-self: flex-end;
    }

    .contact-top h2 {
        font-size:2.5rem;
    }

    .contact-top div {
        width:30%;  
    }
    
    .contact-content-top ol {
        margin-right: -5rem;
    }

    .contact-content-top-bottom {
        display:flex;
        justify-content:space-between;
    }

    .contact-content-map iframe {
        display:block;
        width:30vw;
        height:30vh;
    }  

    .contact-content-top ol {
        width:21.2rem;
    }

    .contact-content-top ol li {
        font-size:1.2rem;
    }

    .contact-content-top-bottom p:nth-child(2) {
        width:5.8rem
    }

    .contact-content-bottom img {
        width: 30vw;
    }
}
@media (min-width:1224px) {

    .contact-content-top ol {
        margin-right: -2.5rem;
    } 
    .contact-content-map iframe {
        height:35vh;
    }  
}
@media (min-width:1440px) {

    .contact-content-top ol {
        margin-right: 0rem;
        margin-left:5rem;
        width:26rem;
    }

    .contact-content-top ol li {
        font-size:1.5rem;
    }

    .contact-content-top-bottom p:nth-child(2) {
        width:7.3rem;
    }

    .contact-content-top ol {
        margin-right: 0rem;
    } 
    .contact-content-map iframe {
        width: 25vw;
    }  
}