.garagiste-top {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0rem 6%;
    margin-top: 8rem;
}
.garagiste-top h4 {
    font-size:1.3rem;
}
.garagiste-style-bar {
    display: block;
    width:37.5%;
    height:1px;
    background-color: black;
}
@media (min-width:375px) {
    .garagiste-style-bar {
        width:45%;
    }
}
.garagiste-content img {
    width:100%;
    height:auto;
    margin-top: 2.5rem;
}
.garagiste-content {
    text-align:center;
}
.garagiste-content p {
    margin-top:1.5rem; 
    font-size: 1.1rem;
}
@media(min-width: 768px) {

    .garagiste-top h4 {
        font-size: 1.75rem;
    }

    .garagiste-style-bar-2 {
        width:15%;
    }

    .garagiste-top {
        margin-top: 4rem;
    }
    .garagiste-content p {
        font-size:1.25rem;
    }
    .garagiste-content img {
        width:75%;
        text-align: center;
    }
}
@media (min-width:1024px) {
    
    .garagiste-top h4 {
        font-size: 2.25rem;
    }

}
@media (min-width:1400px) {
    
    .garagiste-content p {
        font-size:1.4rem;
    }
}