header {
    height: 100%;
    width: 100%;
    text-align:center;
    background-color: white;
}
.header-top {
    margin-top: 10%;
}
.header-top h1 {
    font-family: rousseau_decobold;
    font-size:3rem;
    width:15rem;
    margin: 0 auto;
}

.header-top img {
    width:80%;
    height:100%;
    margin-top:10vh;
}
@media (min-width:375px) {

    .header-top img {
        width:70%;
    }
    
}   

@media (min-width: 768px) {

    header {
        height:auto;
        width:auto;
        position: relative;
    } 

    .header-top {
        display:flex;
        align-items:flex-start;
        flex-direction:row-reverse;
        justify-content:space-between;
        padding: 0% 6%;
        margin-top: 3%;
    }

    .header-top-logo-style-bar {
        display:block;
        height:1px;
        width:100%;
        background-color: black;
    }


    .header-top img {
        width:90%;
        height:auto;
        margin-top:-1.5rem;
        margin-left: -30%;      
    }

    .header-top h1 {
        width:62.5vw;
        font-size:4rem;
        margin-top: 1rem;
    }

    .header-bottom img {
        width:90%;
        height:auto;
        margin: 0 auto;
    }
}

@media (min-width:1024px) {
    
    .header-top h1 {
        font-size:5.5rem;
    }

    .header-top-logo img {
        width:80%;
    }
}
@media (min-width: 1200px) {
   
    .header-top h1 {
        font-size:6.25rem;
    }
}
@media (min-width: 1440px) {
   
    .header-top h1 {
        font-size:7.5rem;
    }
}
@media (min-width: 1700px) {
   
    .header-top h1 {
        font-size:8rem;
    }
}
@media (min-width: 1900px) {
   
    .header-top h1 {
        font-size:9.5rem;
    }
}