.header-top {
    display:flex;
    align-items:center;
    margin-left:-2rem;
}

.header-top h1 {
    font-size:7.25rem;
    border-top:2px solid black;
    width:100%;
    padding:4.75vw;
    font-family: rousseau deco,'sans-serif';
}

.header-top img {
    width:22.5%;
    height:auto;
    margin-top:-4rem;
}

header img {
    width:100%;
    height:auto;
}

@media (max-width:1300px) {
    
    .header-top h1 {
        font-size:3.5em;
    }
} 