.mecanique {
    margin-top:3rem;
}
.mecanique-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0rem 6%;
}
.mecanique-top h5 {
    font-size: 1.4rem;
}
.mecanique-style-bar {
    display:block;
    height:1px;
    width:20%;
    background-color: black;;
}
@media (max-width:375px) {

    .mecanique-top h5 {
        font-size: 1.3rem;
    }

    .mecanique-style-bar {
        width:17.5%;
    }
}
@media (max-width:326px) {

    .mecanique-top h5 {
        font-size: 1.1rem;
    }

    .mecanique-style-bar {
        width:15%;
    }
}
.mecanique-content-illustration img {
    width:100%;
    height:auto;
    margin-top: 2rem;
}
.mecanique-content-testimonial p {
    font-size: .9rem;
    text-align: center;
    width:87%;
    margin: 0 auto;
    margin-top:1rem;
}
@media (min-width: 768px) {

    .mecanique-top img {
        width:15%;
        height:auto;
    }

    .mecanique-style-bar-1 {  
        width:20%;
    }

    .mecanique-style-bar-2 {  
        width:10%;
    }

    .mecanique-top h5 {
        font-size:1.8rem;
    }

    .mecanique-content {
        display:flex;
        justify-content:space-between;
        padding: 0rem 6%;;
    }

    .mecanique-content-testimonial {
        margin-top:3vw;
    }

    .mecanique-content-testimonial p {
        width:80%;
        margin-top:1.5rem;
    }

    .mecanique-content-illustration img {
        width:22.5rem;
    }
}
@media (min-width: 1024px) {
    
    .mecanique-top h5 {
        font-size:2.5rem;
    }

    .mecanique-content-testimonial p {
        width:80%;
        margin-top:2rem;
        font-size: 1.1rem;
    }

    .mecanique-content-illustration img {
        width:25rem;
    }
}
@media (min-width: 1200px) {
   
    .mecanique-content-testimonial p {
        width:25rem;
    }

    .mecanique-content-illustration img {
        width:70%;
    }
}

@media (min-width:1440px) {

    .mecanique-content-testimonial p {
        font-size:1.25rem;
        width:30rem;
    }

    .mecanique-content-illustration img {
        width:80%;
    }
}
@media (min-width:1700px) {

    .mecanique-content-testimonial p {
        font-size:1.4rem;
        width:35rem;
    }

    .mecanique-content-illustration img {
        width:90%;
    }
}
@media (min-width:1900px) {

    .mecanique-content-testimonial p {
        font-size:1.5rem;
    }

    .mecanique-content-illustration img {
        width:100%;
    }
}