nav {
	padding: 4% 6%;
}
.mobile-menu {
    height: 100%;
    width: 0%;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    text-align:center;
    background-color: white;
    transition: all 1.25s ease 0s;
}
.menu-open .mobile-menu {
    width: 100%;
}
.icon-container {
	position: relative;
	display: block;
	z-index: 2;
	float: left;
	height: 55px;
	width: 55px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.icon-container #menuicon {
	width: 20px;
	height: 10px;
	position: relative;
	display: block;
	margin: -4px auto 0;
	top: 50%;
}
#menuicon .bar {
	width: 25px;
	height: 1px;
	display: block;
	position: relative;
	background: black;
	transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
#menuicon .bar.bar1 {
	-webkit-transform: translateY(0px) rotate(0deg);
	transform: translateY(0px) rotate(0deg);
}
#menuicon .bar.bar2 {
	-webkit-transform: translateY(6px) rotate(0deg);
	transform: translateY(6px) rotate(0deg);
}
.menu-open .icon-container {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.menu-open .icon-container #menuicon .bar {
	transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
	transition-delay: 0.1s;
}
.menu-open .icon-container #menuicon .bar.bar1 {
	-webkit-transform: translateY(4px) rotate(45deg);
	transform: translateY(4px) rotate(45deg);
}
.menu-open .icon-container #menuicon .bar.bar2 {
	-webkit-transform: translateY(3px) rotate(-45deg);
	transform: translateY(3px) rotate(-45deg);
}
.mobile-links {
    margin-top: 15vh;
}
.mobile-links li a {
    color:black;
}
.mobile-links li {
    margin-top: 2.5rem;
}
@media (min-width:768px) {
	nav {
		padding: 0%;
	}
	.mobile-menu {
		height: auto;
		width: auto;
		overflow-x:unset;
		position:relative;
		left:auto;
		top: auto;
		transition: none;
	}
	.mobile-links {
		display: flex;
		justify-content: space-between;
		padding: 0% 6%;
		padding-top: 4%;
		margin-top: 0vh;
	}
	.mobile-links li {
		margin-top: 0;
	}
	.mobile-links li a {
		font-size: 1.5rem;
	}
}