.reparation-top {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 1rem;
}
.reparation-top h3 {
    font-size:1.5rem;
}
.reparation-style-bar {
    display:block;
    width:30%;
    height:1px;
    background-color:black;
}
.reparation-top img {
    width:20%;
    height:auto;
}
.reparation-center p {
    text-align: center;
    font-size: .9rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
}
.reparation-bottom ol {
    display:flex;
    justify-content:space-between;
    flex-flow: row wrap;
    margin-top: 2rem;
}
.reparation-bottom li {
    flex: 1 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.reparation-bottom li a {
    font-size: .9rem;
    color:black;
    margin-top:.5rem;
}
.reparation-bottom li img {
    width:2.25rem;
    height:auto;
}
@media (min-width: 768px) {

    .reparation-top h3 {
        order: 3;
        font-size:2.25rem;
    }

    .order-top img {
        order:1;
    }

    .reparation-style-1 {
        order: 2;
        width:7.5%;
    }

    .reparation-style-2 {
        order: 4;
        width:40%;
    }

    .reparation-center {
        margin-top: 1.5rem;
    }
    
    .reparation-center p {
        font-size:1.05rem;
    }

    .reparation-bottom li img {
        width:4rem;
    }

    .reparation-bottom li a {
        font-size:1rem;
    }

    .reparation-bottom ol {
        margin-top:0rem;
    }
}
@media (min-width: 1024px) {
    
    .reparation-center p {
        width:48rem;
    }
    
}