@font-face {
    font-family: 'gilroyextrabold';
    src: url('/font/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('/font/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('/font/gilroy-light-webfont.woff2') format('woff2'),
         url('/font/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rousseau_decobold';
    src: url('/font/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('/font/rousseaudeco-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration:none;
    list-style:none;
}

body {
    font-size: 30px;
    font-family:gilroy,'sans-serif';
    font-weight: 100;
}

.title {
    font-weight: lighter;
    font-size:3rem;
}

@import "atelier","contact","footer","garagiste","header","mecanique","nav","reparation";