@font-face {
    font-family: 'rousseau_decobold';
    src: url('/font/rousseaudeco-webfont.woff2') format('woff2'),
         url('/font/rousseaudeco-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration:none;
    list-style:none;
}

body {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color:black;
    line-height:1.5;
    max-width:1900px;
    margin:0 auto;
}

.title {
    font-weight: lighter;
    font-size:3rem;
}
html {
    scroll-behavior: smooth;
}

@import "atelier","contact","footer","garagiste","header","mecanique","nav","reparation";

section {
    opacity: 0;
    transition: opacity 350ms ease-in;
  }
  
  section.appear {
    opacity: 1;
  }

@media (max-width:768px) {
    
    .desktop {
        display:none;
    }

}

@media (min-width:768px) {
    
    .desktop {
        display:block;
    }

}

@media (max-width:768px) {
    
    .mobile {
        display:block;
    }

}

@media (min-width:768px) {
    
    .mobile {
        display:none;
    }

}

