@font-face {
  font-family: "gilroyextrabold";
  src: url("/font/gilroy-extrabold-webfont.woff2") format("woff2"), url("/font/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroylight";
  src: url("/font/gilroy-light-webfont.woff2") format("woff2"), url("/font/gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rousseau_decobold";
  src: url("/font/gilroy-extrabold-webfont.woff2") format("woff2"), url("/font/rousseaudeco-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 30px;
  font-family: gilroy, "sans-serif";
  font-weight: 100;
}

.title {
  font-weight: lighter;
  font-size: 3rem;
}

.contact-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-top h2 {
  font-size: 2rem;
  margin-top: 5rem;
}

.contact-top div {
  display: block;
  width: 2.5rem;
  height: 1px;
  background-color: black;
}

.contact-content-top {
  padding: 2rem 0rem;
}

.contact-content-top ol {
  display: flex;
  justify-content: center;
  line-height: 2;
}

.contact-content-top ol img {
  width: 1.9rem;
  height: auto;
  margin-right: 1rem;
}

.contact-content-top ol li {
  font-size: 1.1rem;
}

.contact-content-top-top {
  margin-bottom: 1.75rem;
}

.contact-content-top-bottom {
  margin-top: 1.75rem;
}

.contact-content-top-bottom ol {
  text-align: center;
}

.contact-content-top-bottom img:last-of-type {
  width: 1.3rem;
}

.contact-content-top-center {
  width: 7rem;
  background-color: black;
  height: 1px;
  margin: 0 auto;
}

.contact-content-bottom {
  height: 17.5rem;
  width: 100%;
  margin: 0 auto;
  background: url(/image/illustration-contact.png) no-repeat;
  background-size: 100%;
}

.contact-content-center-map iframe {
  display: none;
}

header {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  background-color: white;
}

.header-top h1 {
  font-family: rousseau_decobold;
  font-size: 2.5rem;
  width: 15rem;
  margin: 0 auto;
}

.header-top img {
  width: 65vw;
  height: 100%;
  margin-top: 15vh;
}

.menu-mobile {
  height: 100%;
  width: 0;
  padding: 25vw 0px;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  text-align: center;
  background-color: white;
  transition: all 1.25s ease 0s;
}

.nav-links li {
  margin-top: 4rem;
  font-size: 1.5rem;
  transition: all 1.25s ease 0s;
}

.nav-links a {
  color: black;
}

.nav-menu {
  padding: 1.75rem 2rem;
  height: 2rem;
}

.nav-menu-bar {
  display: block;
  height: 1px;
  width: 1.6rem;
  background-color: black;
}

.nav-menu-bar-1 {
  margin-bottom: 10px;
}

.nav-menu-bar-2 {
  margin-top: 10px;
}

.nav-close {
  margin-top: -20vw;
  padding: 1rem;
}

.nav-close-bar-1 {
  height: 1px;
  width: 25px;
  margin-left: 12px;
  background-color: black;
  Z-index: 1;
}

.nav-close-bar-2 {
  height: 1px;
  width: 25px;
  background-color: black;
  Z-index: 2;
}/*# sourceMappingURL=style.css.map */