@font-face {
  font-family: "gilroyextrabold";
  src: url("/font/gilroy-extrabold-webfont.woff2") format("woff2"), url("/font/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "gilroylight";
  src: url("/font/gilroy-light-webfont.woff2") format("woff2"), url("/font/gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "rousseau_decobold";
  src: url("/font/rousseaudeco-webfont.woff2") format("woff2"), url("/font/rousseaudeco-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  line-height: 1.5;
  max-width: 1900px;
  margin: 0 auto;
}

.title {
  font-weight: lighter;
  font-size: 3rem;
}

html {
  scroll-behavior: smooth;
}

.atelier-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 6%;
  margin-top: 4rem;
}

.atelier-top h6 {
  font-size: 1.5rem;
}

.atelier-top div {
  display: block;
  background-color: black;
  height: 1px;
  width: 45%;
}

.atelier-top .atelier-2-style-bar {
  width: 20%;
}

.atelier img {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.atelier span {
  display: block;
  width: 35%;
  height: 1px;
  background-color: black;
  margin: 0 auto;
}

.atelier-illustration-03 img {
  display: block;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.atelier-illustration-04 img {
  display: block;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.atelier .row-desktop {
  display: none;
}

@media (min-width: 768px) {
  .atelier-top h6 {
    font-size: 2.25rem;
  }

  .atelier-top .atelier-2-style-bar {
    width: 25%;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
  }

  .atelier-illustration-01 {
    order: 1;
  }

  .atelier-ilustration-row {
    order: 2;
    display: flex;
    align-items: center;
    padding: 0% 6%;
  }

  .atelier-illustration-02 {
    order: 3;
    display: flex;
    flex-direction: column-reverse;
  }

  .atelier .row-mobile {
    display: none;
  }

  .atelier .row-desktop {
    display: block;
  }

  .atelier .span-row-2 {
    height: 20vw;
    width: 1px;
  }

  .atelier span {
    width: 20%;
  }
}
@media (min-width: 1024px) {
  .atelier-top h6 {
    font-size: 2.75rem;
  }
}
.contact-top {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contact-top h2 {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.contact-top div {
  display: block;
  height: 1px;
  width: 50%;
  background-color: black;
}

@media (max-width: 380px) {
  .contact-top h2 {
    font-size: 1.4rem;
  }

  .contact-top div {
    width: 45%;
  }
}
@media (max-width: 320px) {
  .contact-top h2 {
    font-size: 1.4rem;
  }

  .contact-top div {
    width: 40%;
  }
}
.contact-content-top {
  padding: 2rem 0rem;
}

.contact-content-top ol {
  display: flex;
  justify-content: center;
  line-height: 2;
}

.contact-content-top ol img {
  width: 1.9rem;
  height: auto;
  margin-right: 1rem;
}

.contact-content-top ol li {
  font-size: 1.1rem;
}

.contact-content-top-top {
  margin-bottom: 1.75rem;
}

.contact-content-top-bottom {
  margin-top: 1.75rem;
}

.contact-content-top-bottom ol {
  text-align: center;
}

.contact-content-top-bottom img:last-of-type {
  width: 1.3rem;
}

.contact-content-top-center {
  width: 7rem;
  background-color: black;
  height: 1px;
  margin: 0 auto;
}

.contact-content-bottom img {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.contact-content-top-bottom p:first-of-type {
  margin-left: 0rem;
}

.contact-content-top-bottom p {
  margin-left: -1rem;
}

@media (min-width: 768px) {
  .contact-top {
    position: relative;
    padding: 4% 6%;
    justify-content: flex-end;
  }

  .contact-top h2 {
    font-size: 2rem;
  }

  .contact-top div {
    width: 25%;
    margin-right: 7.5%;
  }

  .contact-content {
    display: flex;
    justify-content: space-between;
    padding: 0% 6%;
  }

  .contact-content-bottom {
    order: 1;
    align-self: flex-start;
    margin: 0;
  }

  .contact-content-bottom img {
    width: 90%;
  }

  .contact-content-top {
    order: 2;
    align-self: center;
  }

  .contact-content-top ol {
    width: 20rem;
    margin: 0;
  }

  .contact-content-top ol {
    justify-content: flex-start;
  }

  .contact-content-top-bottom ol {
    text-align: start;
  }

  .contact-content-map iframe {
    display: none;
  }

  .contact-content-top-bottom p:first-of-type {
    margin-left: 0rem;
  }

  .contact-content-top-bottom p {
    margin-left: 0rem;
  }

  .contact-content-top-bottom p:nth-child(2) {
    padding: 0.25rem 0rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 5.3rem;
  }
}
@media (min-width: 1024px) {
  .contact-content-top {
    align-self: flex-end;
  }

  .contact-top h2 {
    font-size: 2.5rem;
  }

  .contact-top div {
    width: 30%;
  }

  .contact-content-top ol {
    margin-right: -5rem;
  }

  .contact-content-top-bottom {
    display: flex;
    justify-content: space-between;
  }

  .contact-content-map iframe {
    display: block;
    width: 20rem;
    height: 14rem;
  }

  .contact-content-top ol {
    width: 21rem;
  }

  .contact-content-top ol li {
    font-size: 1.2rem;
  }

  .contact-content-top-bottom p:nth-child(2) {
    width: 5.8rem;
  }
}
@media (min-width: 1440px) {
  .contact-content-top ol {
    margin-right: 0rem;
    margin-left: 5rem;
    width: 25rem;
  }

  .contact-content-top ol li {
    font-size: 1.5rem;
  }

  .contact-content-top-bottom p:nth-child(2) {
    width: 7rem;
  }

  .contact-content-bottom img {
    width: 100%;
  }

  .contact-content-map iframe {
    width: 25rem;
    height: 18rem;
  }
}
footer img {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 7rem;
  height: auto;
  padding-bottom: 4rem;
}

.garagiste-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 6%;
  margin-top: 8rem;
}

.garagiste-top h4 {
  font-size: 1.5rem;
}

.garagiste-style-bar {
  display: block;
  width: 45%;
  height: 1px;
  background-color: black;
}

@media (max-width: 375px) {
  .garagiste-top h4 {
    font-size: 1.3rem;
  }

  .garagiste-style-bar {
    width: 42.5%;
  }
}
.garagiste-content img {
  width: 100%;
  height: auto;
  margin-top: 2.5rem;
}

.garagiste-content {
  text-align: center;
}

.garagiste-content p {
  margin-top: 1.5rem;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .garagiste-top h4 {
    font-size: 2rem;
  }

  .garagiste-style-bar-2 {
    width: 15%;
  }

  .garagiste-top {
    margin-top: 4rem;
  }

  .garagiste-content p {
    font-size: 1.25rem;
  }

  .garagiste-content img {
    width: 75%;
    text-align: center;
  }
}
@media (min-width: 1400px) {
  .garagiste-content p {
    font-size: 1.4rem;
  }
}
header {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  background-color: white;
}

.header-top h1 {
  font-family: rousseau_decobold;
  font-size: 3rem;
  width: 15rem;
  margin: 0 auto;
}

.header-top img {
  width: 80%;
  height: 100%;
  margin-top: 10vh;
}

@media (min-width: 375px) {
  .header-top img {
    width: 70%;
  }
}
@media (min-width: 768px) {
  header {
    height: auto;
    width: auto;
    position: relative;
  }

  .header-top {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0% 6%;
  }

  .header-top-logo-style-bar {
    display: block;
    height: 1px;
    width: 100%;
    background-color: black;
  }

  .header-top img {
    width: 90%;
    height: auto;
    margin-top: -1.5rem;
    margin-left: -20%;
  }

  .header-top h1 {
    width: 62.5vw;
    font-size: 4rem;
    margin-top: 1rem;
  }

  .header-bottom img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .header-top h1 {
    font-size: 5.5rem;
  }

  .header-top-logo img {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .header-top h1 {
    font-size: 6.25rem;
  }
}
@media (min-width: 1440px) {
  .header-top h1 {
    font-size: 7.5rem;
  }
}
@media (min-width: 1700px) {
  .header-top h1 {
    font-size: 8rem;
  }
}
@media (min-width: 1900px) {
  .header-top h1 {
    font-size: 9.5rem;
  }
}
.mecanique {
  margin-top: 3rem;
}

.mecanique-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 6%;
}

.mecanique-top h5 {
  font-size: 1.5rem;
}

.mecanique-style-bar {
  display: block;
  height: 1px;
  width: 20%;
  background-color: black;
}

@media (max-width: 375px) {
  .mecanique-top h5 {
    font-size: 1.3rem;
  }

  .mecanique-style-bar {
    width: 17.5%;
  }
}
@media (max-width: 326px) {
  .mecanique-top h5 {
    font-size: 1.2rem;
  }

  .mecanique-style-bar {
    width: 15%;
  }
}
.mecanique-content-illustration img {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.mecanique-content-testimonial p {
  font-size: 0.9rem;
  text-align: center;
  width: 87%;
  margin: 0 auto;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .mecanique-top img {
    width: 15%;
    height: auto;
  }

  .mecanique-style-bar-1 {
    width: 7.5%;
  }

  .mecanique-top h5 {
    font-size: 1.8rem;
  }

  .mecanique-content {
    display: flex;
    justify-content: space-between;
    padding: 0rem 6%;
  }

  .mecanique-content-testimonial {
    margin-top: 3vw;
  }

  .mecanique-content-testimonial p {
    width: 80%;
    margin-top: 1.5rem;
  }

  .mecanique-content-illustration img {
    width: 22.5rem;
  }
}
@media (min-width: 1024px) {
  .mecanique-top h5 {
    font-size: 2.5rem;
  }

  .mecanique-content-testimonial p {
    width: 80%;
    margin-top: 2rem;
    font-size: 1.1rem;
  }

  .mecanique-content-illustration img {
    width: 25rem;
  }
}
@media (min-width: 1200px) {
  .mecanique-content-testimonial p {
    width: 25rem;
  }

  .mecanique-content-illustration img {
    width: 70%;
  }
}
@media (min-width: 1440px) {
  .mecanique-content-testimonial p {
    font-size: 1.25rem;
    width: 30rem;
  }

  .mecanique-content-illustration img {
    width: 80%;
  }
}
@media (min-width: 1700px) {
  .mecanique-content-testimonial p {
    font-size: 1.4rem;
    width: 35rem;
  }

  .mecanique-content-illustration img {
    width: 90%;
  }
}
@media (min-width: 1900px) {
  .mecanique-content-testimonial p {
    font-size: 1.5rem;
  }

  .mecanique-content-illustration img {
    width: 100%;
  }
}
.menu-mobile {
  height: 100%;
  width: 0;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  text-align: center;
  background-color: white;
  transition: all 1.25s ease 0s;
}

.nav-links {
  padding: 10vw 0px;
}

.nav-links li {
  margin-top: 4rem;
  font-size: 1.5rem;
  transition: all 1.25s ease 0s;
}

.nav-links a {
  color: black;
}

.nav-menu {
  padding: 2rem;
  height: 2rem;
}

.nav-menu-bar {
  display: block;
  height: 1px;
  width: 1.6rem;
  background-color: black;
}

.nav-menu-bar-1 {
  margin-bottom: 10px;
}

.nav-menu-bar-2 {
  margin-top: 10px;
}

.nav-close {
  padding: 2.5rem 1.25rem;
  height: 2rem;
}

.nav-close-bar-1 {
  height: 1px;
  width: 25px;
  margin-left: 12px;
  background-color: black;
  Z-index: 1;
}

.nav-close-bar-2 {
  height: 1px;
  width: 25px;
  background-color: black;
  Z-index: 2;
}

@media (min-width: 768px) {
  nav .menu-mobile {
    position: relative;
    display: block;
    width: 100%;
    text-align: start;
    background-color: transparent;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 6%;
  }

  .nav-links li {
    font-size: 1.25rem;
    margin-top: 0rem;
    transition: none;
  }

  .nav-links li:hover {
    font-size: 1.3rem;
  }
}
.reparation-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 6%;
}

.reparation-top h3 {
  font-size: 1.5rem;
}

.reparation-style-bar {
  display: block;
  width: 30%;
  height: 1px;
  background-color: black;
}

.reparation-top img {
  width: 20%;
  height: auto;
}

.reparation-center p {
  text-align: center;
  font-size: 0.9rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}

.reparation-bottom ol {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: 2rem;
}

.reparation-bottom li {
  flex: 1 0 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.reparation-bottom li h4 {
  font-size: 0.9rem;
  color: black;
  font-weight: 100;
  margin-top: 0.5rem;
}

.reparation-bottom li img {
  width: 2.25rem;
  height: auto;
}

.reparation-bottom-more {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100vw;
  text-align: center;
  height: 20rem;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 35vw;
}

.reparation-bottom li .reparation-bottom-more img {
  width: 20%;
  height: auto;
}

.reparation-bottom-more p {
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5rem;
  font-size: 1rem;
}

.reparation-bottom-li:focus + .reparation-bottom-more {
  display: block;
}

@media (min-width: 768px) {
  .reparation-top h3 {
    order: 3;
    font-size: 2.25rem;
  }

  .order-top img {
    order: 1;
  }

  .reparation-style-1 {
    order: 2;
    width: 7.5%;
  }

  .reparation-style-2 {
    order: 4;
    width: 40%;
  }

  .reparation-center {
    margin-top: 1.5rem;
  }

  .reparation-center p {
    font-size: 1.05rem;
  }

  .reparation-bottom li img {
    width: 4rem;
  }

  .reparation-bottom li a {
    font-size: 1rem;
  }

  .reparation-bottom ol {
    margin-top: 0rem;
  }

  .reparation-bottom li h4 {
    font-size: 1.1rem;
  }
}
@media (min-width: 1024px) {
  .reparation-center p {
    width: 48rem;
  }

  .reparation-bottom li {
    cursor: pointer;
  }

  .reparation-bottom li:hover {
    opacity: 80%;
  }

  .reparation-bottom li h4 {
    font-size: 1.2rem;
  }
}
@media (min-width: 1440px) {
  .reparation-center p {
    font-size: 1.4rem;
    width: 60rem;
  }

  .reparation-center {
    margin-top: 3rem;
  }
}
@media (max-width: 768px) {
  .desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .desktop {
    display: block;
  }
}
@media (max-width: 768px) {
  .mobile {
    display: block;
  }
}
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */